{% extends 'body.html.twig' %}

{% block head %}
    <title>Úvod - Blog</title>
{% endblock %}

{% block content %}
    <div>
        <div class="content shadow">
            <h1>Seznam článků</h1>
        </div>
        <div>
            {% for article in articles %}
                {{ include('articleListing.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}