<article class="content shadow">
    <h2><a href="/article/detail/view/{{ article.article_id }}">{{ article.title }}</a></h2>
    <section>
        {{ article.description }}
    </section>
    {% if loggedI == true %}
        <a href="/article/all/delete/{{ article.article_id }}">Smazat</a>
    {% endif %}
</article>