<html>
<head>
    <link rel="stylesheet" href="/src/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block header %}{{ include('header.html.twig') }}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{{ include('footer.html.twig') }}{% endblock %}
</body>
</html>