{% for comment in comments %}
    <div class="content shadow">
        <div><h3>{{ comment.username }}</h3><span>{{ comment.insert_date }}</span></div>
        <div>{% for paragraph in comment.content|split('\n') %}
                <p>{{ paragraph }}</p>
            {% endfor %}</div>
    </div>
{% endfor %}