{% extends 'body.html.twig' %}

{% block head %}
    <title>{{ title }} - Blog</title>
{% endblock %}

{% block content %}
    <article class="content shadow">
        <h1>{{ title }}</h1>
        {% if sessionid %}
            <a href="/article/edit/modify/{{ article_id }}">Upravit</a>
        {% endif %}
        <section class="annotation">
            {% for paragraph in description|split('\n') %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </section>
        <section>
            {% for paragraph in content|split('\n') %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </section>
    </article>

    {% if errors %}
        <div class="content shadow">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% autoescape false %}
        {{ comment_form }}
    {% endautoescape %}

    <div id="comments"></div>

    <script src="/src/js/comments.js"></script>
    <script type="text/javascript">
        document.body.addEventListener('load', loadArticles({{ article_id }}))
    </script>

{% endblock %}