{% extends 'body.html.twig' %}

{% block head %}
    <title>{{ title }} - Blog</title>
{% endblock %}

{% block content %}
    <div>
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% autoescape false %}
            {{ form }}
        {% endautoescape %}
    </div>
{% endblock %}