<header class="content shadow">
    <a href="/">Domů</a>
    {% if sessionid %}
        <span>Přihlášený: {{ username }}</span>
        <a href="/article/edit/create">Přidat nový článek</a> |
        <a href="/user/login/logout">Odhlásit se</a>
    {% else %}
        <a href="/user/login">Přihlásit se</a>
    {% endif %}
</header>
