{% extends 'body.html.twig' %}

 {% block head %}
     <title>Přihlásit se - Blog</title>
 {% endblock %}

 {% block content %}
     {% if errors %}
         <div class="content shadow">
             <ul>
                 {% for error in errors %}
                     <li>{{ error }}</li>
                 {% endfor %}
             </ul>
         </div>
     {% endif %}

     {% autoescape false %}
         {{ form }}
     {% endautoescape %}
 {% endblock %}