{% extends 'body.html.twig' %}

{% block head %}
    <title>Chyba - Blog</title>
{% endblock %}

{% block content %}
    <h1>Neplatný článek</h1>
    <section>Tento článek bohužel neexistuje. Vyberte prosím jiný z <a href="/">úvodní stránky</a></section>
{% endblock %}
