<?php if(isset($comments)):?>
<?php foreach($comments as $comment):?>
    <div id="comment">
        <h3><?=$comment['username']?></h3>
        <div><?=$comment['insert_date']?></div>
        <div><?=$comment['content']?></div>
    </div>
<?php endforeach; ?>
<?php endif;?>
