<article >

    <h1><?= $title ?></h1><?php if($loggedIn):?><a href="/article/edit/modify/<?= $article_id ?>">Upravit</a><?php endif;?>
    <section><?= $description ?></section>
    <section><?= $content ?></section>
</article>

<div>
    <?php if (isset($errors)): ?>
        <ul>
            <?php foreach ($errors as $error): ?>
                <li><?= $error ?></li>
            <?php endforeach ?>
        </ul>
    <?php endif ?>
    <?=$comment_form?>
</div>

<div id="comments">
</div>

<script src="/src/js/comments.js"></script>

<script type="text/javascript">
    document.body.addEventListener('load', loadArticles(<?=$article_id?>));
</script>