body {
    display: grid;
    place-items: center;
    font-family: Arial, serif;
}

h1 {
    margin: 0.5em;
}

form {
    display: grid;
    grid-template-columns: 20% auto;
}

textarea {
    min-height: 10vh;
}

.shadow {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
    margin: 0.5em;
    padding: 0.5em;
}

.content {
    width: 100vw;
    max-width: 1000px;
}

.fullwidth {
    grid-column: 1 / span 2;
}

.annotation {
    border-bottom: 1px solid lightgray;
}
